$primary: #97928c;
$white: white;

$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
) !default;

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
	$max: breakpoint-max($name, $breakpoints);
	@if $max {
		@media (max-width: $max) {
			@content;
		}
	} @else {
		@content;
	}
}
@mixin transition($transition) {
	-moz-transition:    all $transition ease;
	-o-transition:      all $transition ease;
	-webkit-transition: all $transition ease;
	-ms-transition: 		all $transition ease;
	transition:         all $transition ease;
}
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
.ftco-section {
	padding: 7em 0;
	position: relative;
	background-color: #3b3b4f;
	color: white;
}

.portfolio-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.ftco-animate {
}
.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.icon-expand:before {
	content: "\f065";
}
.project{
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	z-index: 0;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		background: $primary;
		opacity: 0;
		z-index: 1;
		@include transition(.3s);
	}
	img{
		-webkit-transform: scale(1.0);
		-moz-transform: scale(1.0);
		-o-transform: scale(1.0);
		transform: scale(1.0);
		z-index: -1;
		@include transition(.6s);
	}
	.text{
		position: absolute;
		bottom: -100px;
		left: 0;
		right: 0;
		padding: 2em;
		opacity: 0;
		z-index: 2;
		@include transition(.6s);
		span{
			font-size: 14px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: rgba(255,255,255,.8);
		}
		h3{
			color: $white;
			a{
				color: $white;
			}
		}
	}
	.icon{
		position: absolute;
		top: -50px;
		right: 2em;
		// right: 0;
		width: 50px;
		height: 50px;
		// margin: 0 auto;
		// background: $primary;
		bordeR: 1px solid $white;
		transform: translateY(-50%);
		@include border-radius(50%);
		@include transition(.6s);
		opacity: 0;
		z-index: 2;
		span{
			color: $white;
			font-size: 20px;
		}
	}
	&:hover, &:focus{
		&:after{
			opacity: .8;
		}
		.text{
			opacity: 1;
			bottom: 0;
		}
		.icon{
			top: 50px;
			opacity: 1;
			// width: 140px;
			// height: 140px;
		}
		img{
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.3);
			-o-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
}

.heading-section{
	.subheading{
		font-weight: 800;
		font-size: 18px;
		display: block;
		margin-bottom: 0;
		// text-transform: uppercase;
		// letter-spacing: 2px;
		// color: lighten($black,70%);
		color: rgba(0,0,0,.3);
		position: relative;
	}
	h2{
		font-size: 34px;
		font-weight: 700;
		// text-transform: uppercase;
		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
	}
	&.heading-section-white{
		.subheading{
			color: rgba(255,255,255,.7);
		}
		h2{
			font-size: 40px;
			color: white;
		}
		p{
			color: rgba(255,255,255,.9);
		}
	}
	.category{
		text-transform: uppercase;
		font-weight: 300;
		font-size: 12px;
		letter-spacing: 2px;
		span{
			a{
				color: black;
			}
			&.active{
				font-weight: 500;
			}
		}
	}
}
.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
